@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Enter Credit Card</h3></div>
                <div class="card-body">
                    <form action=@Url.Action("SubmitCreditCard", "User") method="post">
                        <div class="row mb-2">
                            <div class="col-12">
                                <label class="fw-bold">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <label class="fw-bold">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <label class="fw-bold">Expiration</label>
                                <div class="input-group">
                                    <select class="form-select" id="inputGroupSelect02">
                                        <option selected>Month</option>
                                        @for(int i = 1; i < 13; i++)
                                        {
                                            <option value="@i">@i</option>
                                        })
                                    </select>
                                    <label class="input-group-text" for="inputGroupSelect02">/</label>
                                    <select class="form-select" id="inputGroupSelect02">
                                        <option selected>Year</option>
                                        @for(int i = 2023; i < 2030; i++)
                                        {
                                            <option value="@i">@i</option>
                                        })
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="fw-bold">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>