@model IEnumerable<PhishingTestPlatform.Data.Models.EmailTemplates>

@{
    ViewData["Title"] = "Send Phishing Email";
}

<div class="container-fluid px-4">
    <div class="row my-4">
        <h1>Send Phishing Email</h1>
    </div>
    <div class="row">
        <form asp-action="SendEmail" method="post">
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <select class="form-select" name="TemplateId">
                            <option selected>Select one template</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.TemplateName</option>
                            }
                        </select>
                        <label for="floatingSelect">Email Template</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label class="form-label fw-bold">Enter Email Addresses</label>
                    <div class="input-group mb-3">
                        <button class="btn btn-danger" id="DeleteRow" type="button">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                        <input type="email" class="form-control m-input" name="Emails[0]">
                    </div>
                    <div id="newinput"></div>
                    <button id="rowAdder" type="button" class="btn btn-primary">
                        <i class="fas fa-plus"></i> ADD
                    </button>
                </div>
            </div>
            <div class="mt-4 mb-0">
                <div class="d-grid">
                    <button type="submit" class="btn btn-success btn-block">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#rowAdder").click(function () {
            var nextId = $(".newRow").length + 1;
            newRowAdd =
                '<div id="row" class="newRow"> <div class="input-group mb-3">' +
                '<button class="btn btn-danger" id="DeleteRow" type="button">' +
                '<i class="fas fa-trash"></i> Delete</button>' +
                '<input type="email" class="form-control m-input" name="Emails[' + nextId + ']"> </div> </div>';

            $('#newinput').append(newRowAdd);
        });

        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
}