@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS Padrão-->
    <link href="~/assets/spotify/css/style.css" rel="stylesheet" />
    <!--CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--FAVICON-->
    <link rel="icon" type="image/png" sizes="96x96" href="~/assets/spotify/medias/favicon-96x96.png">

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
    <title>Spotify - Login</title>
</head>
<body>
    <div id="telaLogin" class="ativa">
        <div class="areaFormulario">
            <div class="textBox boxForm">
            </div>
            <div id="login-area" class="boxForm">
                <div class="form-top">
                    <img src="~/assets/spotify/medias/img/loginImg/spotfy.png" alt="spotify-icon">
                </div>
                <form asp-action="Login" method="post" id="form-login" class="formulario">
                    <input type="hidden" asp-for="Id" value="@ViewBag.Id" />
                    <label for="usernameLogin">Username</label>
                    <input asp-for="Email" type="text" class="field-login" placeholder="Username" required>
                    <label for="passwordLogin">Password</label>
                    <input asp-for="Password" type="password" class="field-login" placeholder="Your Password" required>
                    <input type="submit" value="Login">
                    <small id="aviso-invalido">Username or Password invalid.</small>
                </form>
            </div>
        </div>
    </div>
</body>
</html>