@model PhishingTestPlatform.UI.Models.EmailTemplates

@{
    ViewData["Title"] = "Edit Template";
}

<div class="container-fluid px-4">
    <div class="row my-4">
        <div class="col-9">
            <h1>Edit Email Template</h1>
        </div>
        <div class="col-3 my-auto">
            <a class="btn btn-danger float-end" asp-area="" asp-controller="EmailTemplates" asp-action="Index">
                <i class="fas fa-angles-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" asp-for="TemplateName" type="text" placeholder="Enter template name"/>
                        <label asp-for="TemplateName">Template Name</label>
                        <span asp-validation-for="TemplateName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" asp-for="TemplateSubject" type="text" placeholder="Enter email subject" />
                        <label asp-for="TemplateSubject">Email Subject</label>
                        <span asp-validation-for="TemplateSubject" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label fw-bold" asp-for="TemplateBody">Email Body</label>
                <textarea asp-for="TemplateBody"></textarea>
                <span asp-validation-for="TemplateBody" class="text-danger"></span>
            </div>
            <div class="mt-4 mb-0">
                <div class="d-grid">
                    <button type="submit" class="btn btn-success btn-block">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_TinyMCE");
    }
}